canvas {
  background: white;
  touch-action: none;
}

.game-area {
  display: inline-flex;
  flex-direction: row;
}

.draw-area {
  display: inline-flex;
  flex-direction: column;
  margin: 0 8px;
}

.draw-info {
  height: 35px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
}

.draw-info h3 {
  padding-right: 8px;
}

.draw-info progress {
  flex-grow: 1;
}

.draw-area progress { 
  -webkit-appearance: none;
  appearance: none;
  width: 400px;
}

.draw-area progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.draw-area progress[value]::-webkit-progress-value {
  background-color: red;
  border-radius: 6px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.draw-area progress.red[value]::-webkit-progress-value { background-color: red; }
.draw-area progress.blue[value]::-webkit-progress-value { background-color: blue; }
.draw-area progress.green[value]::-webkit-progress-value { background-color: green; }
.draw-area progress.black[value]::-webkit-progress-value { background-color: black; }
.draw-area progress.cyan[value]::-webkit-progress-value { background-color: cyan; }
.draw-area progress.darkred[value]::-webkit-progress-value { background-color: darkred; }
.draw-area progress.darkgreen[value]::-webkit-progress-value { background-color: darkgreen; }
.draw-area progress.yellow[value]::-webkit-progress-value { background-color: yellow; }
.draw-area progress.orange[value]::-webkit-progress-value { background-color: orange; }
.draw-area progress.gray[value]::-webkit-progress-value { background-color: gray; }
.draw-area progress.purple[value]::-webkit-progress-value { background-color: purple; }
.draw-area progress.pink[value]::-webkit-progress-value { background-color: pink; }

.game {
  display: inline-flex;
  flex-direction: column;
}

.round-area {
  padding: 16px;
  margin-bottom: 8px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 10px;
}

.round-area > * {
  flex-grow: 1;
  flex-basis: 0;
}

.round-area h3 {
  margin: 0;
  text-align: left;
}

.round-area h2 {
  margin: 0;
  letter-spacing: 4px;
}

.painter-list {
  width: 250px;
  height: 440px;
}

.painter-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guesser-area {
  width: 250px;
  height: 440px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.guesser-area input {
  margin: 4px;
  padding: 4px;
}

.scroll-bottom-button {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;

  font-size: 1.4em;
  font-weight: bold;
  font-family: monospace;
  border-radius: 50%;
  border: 1px solid darkgray;
  background-color: dodgerblue;
  color: white;
}

.guesser-name p {
  margin: 0;
}

.chat-area {
  flex-grow: 1;
  padding: 0 4px;
  overflow-y: auto;
}

.chat-area p {
  margin: 0;
}

.chat-area .correct-guess {
  font-weight: bold;
  color: green;
}

.chat-area small {
  display: block;
  margin: 8px 0 2px 0;
}