.lobby {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  gap: 8px;
}

.lobby-user-list {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
}

.lobby .box-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby-user-list ul {
  flex-grow: 1;
  overflow-y: auto;
}

.name-button-area {
  line-height: 50px;
}

.name-button-area button {
  cursor: pointer;
  font-size: 1.0em;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 4px 8px;
}

.lobby-game-settings {
  flex: 1 1 0;
  flex-basis: 550px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}

.game-settings-area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 420px;
  gap: 10px;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.setting label {
  font-weight: bold;
}

.setting input, .setting textarea {
  max-width: 225px;
  flex-grow: 1;
}

.setting textarea {
  resize: vertical;
  max-height: 260px;
}

.start-button-area input {
  display: block;
  margin: auto;
  margin-bottom: 8px;

  cursor: pointer;
  background-color: mediumseagreen;
  color: white;
  font-weight: bold;
  font-size: 1.0em;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px 40px;
}

.start-button-area input[disabled] {
  box-shadow: none;
  opacity: .55;
  cursor: default;
}

@media only screen and (max-width: 600px) {
  .lobby {
    flex-direction: column;
  }

  .settings-wrapper {
    gap: 12px;
  }

  .setting {
    flex-direction: column;
    gap: 4px;
  }

  .setting input, .setting textarea {
    max-width: unset;
  }
}