canvas {
  /* border: 3px solid black; */
  background: white;
}

.game-area {
  display: inline-flex;
  flex-direction: row;
}

.draw-area {
  display: inline-flex;
  flex-direction: column;
  margin: 0 8px;
}

.draw-info {
  height: 35px;
  margin-top: 5px;
}

.draw-area progress { 
  -webkit-appearance: none;
  appearance: none;
}

.draw-area progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.draw-area progress[value]::-webkit-progress-value {
  background-color: red;
  border-radius: 6px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.draw-area progress.red[value]::-webkit-progress-value { background-color: red; }
.draw-area progress.blue[value]::-webkit-progress-value { background-color: blue; }
.draw-area progress.green[value]::-webkit-progress-value { background-color: green; }
.draw-area progress.black[value]::-webkit-progress-value { background-color: black; }
.draw-area progress.cyan[value]::-webkit-progress-value { background-color: cyan; }
.draw-area progress.darkred[value]::-webkit-progress-value { background-color: darkred; }
.draw-area progress.darkgreen[value]::-webkit-progress-value { background-color: darkgreen; }

.box {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
  border-radius: 4px;
  text-align: left;
  background-color: #fefefe;
}

.painter-list {
  width: 250px;
  padding: 4px;
}

.guesser-area {
  width: 250px;
  padding: 4px;
}